<mat-card>
    <mat-card-title>
      How to play Mafia
      <mat-icon>help</mat-icon>
    </mat-card-title>
    <mat-card-content>
      <p>Mafia is a game of deceit and trickery. As a town it is your job
        to find and kill all of the Mafia and any Neutral evil roles. As the Mafia
        it is your job to take control of the village by getting rid of everyone else
        as you choose together who to assassinate. As a Neutral role, your win condition
        varies, but generally you are not on any particular side, but look out for yourself. 
      </p>
    </mat-card-content>
</mat-card>

<p>add section of how who wakes up when during the night here</p>
<p>a filter search bar here would be nice</p>

<h1>Role cards go here with abilities on each</h1>

<app-role-card *ngFor="let role of roleCardArray" [roleCard]="role"></app-role-card>

